* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(59,6,108,1) 26%, rgba(6,178,212,1) 100%);
}

.logo {
    width: 300px;
    display: block;
    margin: 20px auto;
}

main {
    width: 375px;
    border-radius: 20px;
    background-color: #f4f4f4;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;

}

label{
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}

select{
    background: white;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;

}

input{
    background: white;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
}

button{
    background-color: #772fb3;
    border-radius:5px ;
    width: 100%;
    border: none;
    height: 48px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;

}

button:hover {
    opacity: 0.8;

}

button:active{
    opacity:0.6;
}

section{
    border: 1px solid #772fd3;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.arrow-box{
    margin: 15px;
}

.currency-img-convert{
    width: 44px;
}

.eua{
    width: 44px;
}

.currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency{
    color: #777777;
    font-size: 14px;
}

.currency-value, .currency-value-to-convert{
    color:#555555 ;
    font-size: 20px;
    font-weight: 700;

}

.currency-img{
    width: 44px;
}

@media (max-width: 414px){

    .logo {
        width: 150px;
        display: block;
        margin: 20px auto;
    }

    main {
        width: 300px;
        border-radius: 20px;
        background-color: #f4f4f4;
        margin: 0 auto 40px;
        padding: 44px 24px 23px;
    
    }

    section{
        border: 1px solid #772fd3;
        border-radius: 20px;
        margin-top: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    button{
        background-color: #772fb3;
        border-radius:5px ;
        width: 150px;
        border: none;
        height: 35px;
        color: white;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        align-items: center;
        margin-left: 20%;
    
    }
}